<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Payslip with Balance of Attendances</h2>
        <h3 class="oe_slogan">Calculates the balance of attendances on the payslip</h3>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Payslip</b>
            </h4>
            <p>...</p>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Attendances</b>
            </h4>
            <p>...</p>
        </div>
    </div>
</section>
