.docu_side_header {
    margin-top: 0px;
    margin-bottom: 5px;
}

#o_docu_collapse_search {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    i {
        &:hover {
            cursor: pointer;
        }
    }
    .fa-chevron-down {
        padding-right: 0px;
    }
    .fa-chevron-right {
        padding-right: 4px;
    }
}

.td_search {
    padding-top: 5px;
}
.td_search_text {
    padding-top: 0px;
}
.td_search_label {
    padding-right: 5px;
}
.search_date {
    width: 100%;
}
.search_text {
    width: 250px;
}
#search_find_button {
    float: left;
}
#search_reset_button {
    float: right;
}

#o_docu_collapse_category {
    list-style-type: none;
    padding-left: 0px;
    li {
        ul {
            list-style-type: none;
            padding-left: 22px;
        }
    }
    i {
        &:hover {
            cursor: pointer;
        }
    }
    .fa-chevron-down {
        padding-right: 0px;
    }
    .fa-chevron-right {
        padding-right: 4px;
    }
    .fa-chevron-none {
        padding-right: 14px;
    }
}

#o_docu_collapse_part {
    overflow: auto;
    padding-left: 0px;
    list-style-type: none;
    li {
        div {
            white-space: nowrap;
        }
        ul {
            list-style-type: none;
            padding-left: 22px;
        }
    }
    i {
        &:hover {
            cursor: pointer;
        }
    }
    a {
        &:hover {
            cursor: pointer;
        }
    }
    .active > a {
        color: white;
        background-color: #285f8f;
        &:hover {
            color: white;
        }
    }
    .fa-chevron-down {
        padding-right: 0px;
    }
    .fa-chevron-right {
        padding-right: 4px;
    }
    .fa-chevron-none {
        padding-right: 14px;
    }
}

#o_docu_part_text {
    overflow: auto;
    height: 0px;

    a {
        &:hover {
            cursor: pointer;
        }
    }

    h2 {
        margin-top: 0px;
        font-size: 30px;
    }
    h3 {
        margin-top: 0px;
        font-size: 24px;
    }
    h4 {
        margin-top: 0px;
        font-size: 20px;
    }
    h5 {
        margin-top: 0px;
        font-size: 18px;
    }
    h6 {
        margin-top: 0px;
        font-size: 16px;
    }
}