<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Erweiterung der Adressen</h2>
        <h3 class="oe_slogan">Erweitert die Adressen um Felder und Funktionen</h3>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Adressen</b>
            </h4>
            <p>Benennt 'Kontakte' in 'Adressen' um, damit die Kontakte eines Unternehmens besser von den Unternehmen und Einzelpersonen unterschieden werden k&ouml;nnen.</p>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Stichw&ouml;rter</b>
            </h4>
            <p>Verbesserte Suche nach hierarchisch strukturierten Stichw&ouml;rtern.</p>
        </div>
    </div>
</section>
