.o_kanban_view.o_kanban_dashboard.o_project_kanban {
    .o_project_kanban_main {
        a.fa-cog {
            position: absolute;
            padding: 3px;
            right: 38px;
        }
    }
    .o_dropdown_kanban {
        position: absolute;
        padding: 5px;
        right: 65px;
    }
}
