.book_calendar_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 10px;
}

.book_calendar_table td {
    padding-left: 5px;
    border: 1px solid black;
}

.book_calendar_table th {
    text-align: center;
    border: 1px solid black;
}

.booking-header p {
    margin-top: 25px;
    margin-bottom: 25px;
}

.booking-footer p {
    margin-top: 25px;
    margin-bottom: 25px;
}

.booking-explanation {
    border: black 1px solid;
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.booking-explanation-color {
    width: 15px;
    height: 15px;
    float: left;
    border: black 1px solid;
}

.booking-explanation-text {
    margin-left: 5px;
    margin-right: 15px;
}

.booking-explanation-color.booking-available-booking {
    background-color: #DDF5DA;
}

.booking-explanation-color.booking-taken-booking {
    background-color: #DDC0A4;
}

.fc-bgevent {
	background-color: #DDF5DA;
	opacity: 1.0;
	filter: alpha(opacity=100); /* for IE */
}

.fc-bgevent-taken {
    color: #FFFFFF;
    background-color: #DDC0A4 !important;
	z-index: 5 !important;
}

.fc-time-grid-container {
	height: 100% !important;
}
