.o_kanban_view {
    .oe_kanban_card, .o_kanban_record {
        .oe_kanban_details {
            padding-left: 72px;
        }

        .o_kanban_image_right {
            float: right;
            padding-left: 0 !important;
            margin-left: 4px;
            img {
                width: 32px;
            }
        }
    }
}

.o_form_view {
    .o_address_format {
        .o_address_zip {
            margin-right: 2%;
        }
        .o_address_state {
            margin-right: 0;
        }
    }
}
