.o_kanban_view {
    .o_kanban_record {
        .o_kanban_record_bottom {
            .oe_kanban_bottom_right {
                .dropdown {
                    .dropdown-toggle {
                        border-width: 0px;
                        padding: 0px;
                    }
                    .dropdown-menu {
                        > li {
                            > button {
                                border-width: 0px;
                                text-align: left;
                                width: 320px;
                                background: white;
                                &:hover {
                                    background: darken(white, 5%);
                                }
                            }
                            &.show_bottom_line {
                                border-bottom: 1px solid;
                            }
                        }
                    }
                }
            }
        }
    }
}