<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Extension of Helpdesk</h2>
        <h3 class="oe_slogan">Extends the Helpdesk</h3>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Helpdesk</b>
            </h4>
            <p>...</p>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Tickets</b>
            </h4>
            <p>...</p>
        </div>
    </div>
</section>
