<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">'in4...' - Basis</h2>
        <h3 class="oe_slogan">Stellt die Basis f&uuml;r alle weiteren 'in4...'-Module zur Verf&uuml;gung</h3>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>&Uuml;bersetzungen</b>
            </h4>
            <p>Bezeichnung und Zusammenfassung aller 'in4...'-Module werden &uuml;bersetzt.</p>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Men&uuml; 'Import/Export'</b>
            </h4>
            <p>Erstellt unter 'Einstellungen / Technisch' das Untermen&uuml; 'Import/Export'. Unter diesem Men&uuml; werden alle zus&auml;tzlich installierten Import- und Export-Funktionen aufgef&uuml;hrt.</p>
        </div>
    </div>
</section>
