<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Lohnabrechnung mit Stundensaldo</h2>
        <h3 class="oe_slogan">Berechnet den Stundensaldo auf der Lohnabrechnung</h3>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Lohnabrechnung</b>
            </h4>
            <p>Berechnet den Stundensaldo auf der Lohnabrechnung.</p>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Anwesenheiten</b>
            </h4>
            <p>Verhindert das &Auml;ndern von bereits abgerechneten Anwesenheiten.</p>
        </div>
    </div>
</section>
