.table-tax tr:last-child td {
    color: rgb(85, 85, 85) !important;
}

body.l10n_ch_isr {
    #content_outside_isr {
        padding: 0;
        width: 196mm;
    }
}

body.l10n_ch_isr #isr {
    width: 196mm;
    top: 297 - 40 - 106mm;

    #voucher {
        height: 80mm;
        width: 53mm;
        top: 3mm;
        right: 143mm;
    }

    #voucher > * {
        left: 0;

        &#voucher-bank {
            left: 20mm;
        }

        &#voucher-amount_units {
            width: 34mm;
            top: 48mm;
        }

        &#voucher-amount_cents {
            width: 10mm;
            top: 48mm;
            left: 45mm;
        }

        &#voucher-by {
            top: 58mm;
        }
    }

    #slip {
        height: 80mm;
        width: 143mm;
        top: 3mm;
    }

    #slip > * {
        left: 5mm;

        &#slip-bank {
            left: 29mm;
        }

        &#slip-amount_units {
            width: 38mm;
            top: 48mm;
        }

        &#slip-amount_cents {
            width: 10mm;
            top: 48mm;
            left: 54mm;
        }

        &#slip-by {
            top: 45mm;
            left: 67mm;
            width: 84mm;
        }

        &#slip-optical-line {
            right: 0;
            top: 85mm;
            text-align: right;
        }
    }
}