<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Erweiterungen f&uuml;r das Helpdesk</h2>
        <h3 class="oe_slogan">Erweitert das Helpdesk</h3>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Tickets</b>
            </h4>
            <p>Wandelt die Beschreibung von Tickets in HTML um, damit Bilder, Links usw. eingef&uuml;gt werden k&ouml;nnen.</p>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Meine Aktivit&auml;ten</b>
            </h4>
            <p>Neben "Meine Tickets" k&ouml;nnen mit "Meine Aktivit&auml;ten" die im Zusammenhang mit Tickets erstellten Aktivit&auml;ten angezeigt werden.</p>
        </div>
    </div>
</section>
