<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Extensions of Addresses</h2>
        <h3 class="oe_slogan">Extends the Addresses with Fields and Functions</h3>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Addresses</b>
            </h4>
            <p>...</p>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Partner Tags</b>
            </h4>
            <p>...</p>
        </div>
    </div>
</section>
