.pos .clientlist-screen .client-details-top {
    font-size: 16px;
}
.pos .clientlist-screen .client-details-box {
    top: 20px;
    height: 135px;
}
.pos .clientlist-screen .client-details-left {
    position: absolute;
}
